*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Epilogue", sans-serif;
}
body{
         background-color: #472430;
         display: flex;
         flex-direction: column;
         gap:20px;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 150px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: #472430;
    border-bottom: 3px solid #E8306E;

    padding: 0 60px;
    color: white;
}
.logo{
    height: 100px;
    margin-top:30px;
}
header .menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 150px;
    margin: 0;
    cursor: pointer;
   margin-top:25px;
     font-weight: 600;
    font-size: 22px;
    padding: 0;
}
 
header .menu ul .login-text {
    background-color: #E8306E;
    color: white;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s;
}
header .menu ul a{
    color: white;
    text-decoration: none;
}

header .menu ul .login-text:hover{
    color: #E8306E;
background-color: white ;
}
 .menu ul li.active a {
    border-bottom: 2px solid #E8306E; /* your theme color */
    font-weight: 600;
    color:#E8306E;
 }

 .section-6{
    text-align: center;
    color: white;
    height: 280px;
     padding: 10px;
     margin-top: 50px;

}

footer{
    display: flex;
    margin-top:40px;
    flex-direction: column;
    padding: 10px;
    gap:30px;
    height: 330px;
    background-color: 
#1d1d1d;
}
footer .footers{
display: flex;
justify-content: space-evenly;
color: white;
padding: 10px;
}
.footer-1 .icons{
    color: grey;
    font-size: 35px;
    display: flex;
    gap:25px;
    margin-left: 10px;
}
.footer-2{
    line-height: 2;
    font-size: 22px;
}
footer hr{
    width: 1300px;
    margin: auto;
}

#center{
    text-align: center;
    color: white;
    font-size: 22px;
}

.login-box{
    background-color: 
#ea9ab5;
height: 450px;
position: fixed;
    top: 150px;
    left:350px;
    display: none;

width: 800px;
border-radius: 10px;
padding: 10px;
text-align: center;
margin: auto;
line-height: 2;
}

.login-box .login-logo{
    height: 100px;
    width: 250px;
    margin: auto;
}
.login-box p{
    font-size: 20px;
    font-weight: 600;
}
.login-box input{
    height: 50px;
    background-color: white;
    width: 400px;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.login-box input::placeholder{
    color: #E8306E;
    font-weight: 600;
    padding: 10px;
     font-size: 20px;
}
 .login-box .continue{
     background-color: #E8306E;
    height: 50px;
    width: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    margin: auto;
    font-weight: 600;
    font-size: 22px;
    margin-top: 30px;
    color: white;
    cursor: pointer;
 }
 .otp-inputs input{
    width: 100px;
 }
 .otp-inputs{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
 }

 .profile-img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #E8306E;
     
    object-fit: cover;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: center;
    gap:50px;
    margin-top: 20px;
    
}
.buttons .book{
    background-color: #E8306E;
    height: 50px;
    width: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;

}
 .buttons .book a{
   
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.buttons .member{
    background-color: white;
    height: 50px;
    width: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    border: 2px solid #E8306E;

}
.buttons .book,
.buttons .member {
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #E8306E;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

/* Default Colors */
.book {
    background-color: #E8306E;
    color: white;
}

.member {
    background-color: white;
    color: #E8306E;
}

/* Make link inherit */
.buttons a {
    text-decoration: none;
    color: inherit;
}

/* Hover Effects */
.member:hover {
    background-color: #E8306E;
    color: white;
}

.book:hover {
    background-color: white;
    color: #E8306E;
}
.section-6{
    text-align: center;
    color: white;
    height: 280px;
     padding: 10px;
     margin-top: 50px;

}

.booking-1{
    margin-top:200px;
    color: white;
    padding: 20px;
    margin-left:20px;
    display: flex;
    
    flex-direction: column;
    gap:20px;
}
.booking-1 .b-1{
    padding: 30px;

}
.booking-con h3{
    font-size: 25px;
}
.booking-con select {
    height: 50px;
    width: 500px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #E8306E;
    background-color: #fff;
    color: #333;
     font-weight: 600;
    cursor: pointer;
}
.booking-con {
    display: flex;
    flex-direction: column;
    gap: 20px;;
}
.booking-con input{
    height: 50px;
    width: 500px;
    font-size: 22px;
    color: black;
    border-radius: 10px;
}
.booking-con option {
    font-size: 18px;
    background: white;
    font-weight: 600;
    color: black;
}
.text{
    height: 50px;
    width: 500px;
    border-radius: 10px;
    padding:20px;
    background-color: white;
    color: #333;
    font-size: 18px;
    font-weight: 600;
}
.date-input {
    height: 50px;
    width: 500px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #E8306E;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}.b-1{
    display: flex;
    gap:200px;
}
.custom-select {
  width: 500px;
  position: relative;
  font-size: 20px;
}

.selected {
  height: 50px;
  padding: 12px;
  border: 2px solid #E8306E;
  border-radius: 10px;
  cursor: pointer;
  background: #fff;
}

.options {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%; /* appears right below select */
  left: 0;
  background: white;
  border: 2px solid #E8306E;
  border-radius: 10px;
  margin-top: 5px;
  z-index: 10;
}

.option {
  padding: 12px;
  cursor: pointer;
}

.option:hover {
  background-color: #E8306E;
  color: white;
}
.booking-con2{
    display: flex;
    flex-direction: column;
    gap:80px;
    margin-top: 60px;
}

.process{
    background-color: #E8306E;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin-left:50px;
}

.text a{
    text-decoration: none;
    color: #333;
}

.stylist-1{
    margin-top: 200px;
       padding: 20px;
    margin-left:20px;
    display: flex;
 
    flex-direction: column;
    gap:20px;
   
}
.stylist-1 h1{
     color: white;
}
.stylist-1 .light{
    color:#9a264d
}
.white-box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    height: 150px;
    width: 1000px;
    border-radius: 10px;
    margin: auto;
}
.white-con{
    line-height: 2;
    margin-top: 20px;;
}
.pink{
    color: #9a264d;
}

.select-btn{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border:1px solid #9a264d;
display: flex;
background-color: #331a21;
justify-content: center;
color: white;
align-items: center;
cursor: pointer;
}
.stylist-btn{
    background-color: #E8306E;
    color: white;
    height: 50px;
    width: 300px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left:1000px;
}
.select-btn a{
    color: white;
    text-decoration: none;
}
.white-box.selected-stylist {
    border-color: #E8306E;
    background-color: #ffe6f0;
}

.edit{
    border: 1px solid #E8306E;
    height: 35px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-img{
    height: 80px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid #E8306E;  
}